* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  font-size: 1.5vw;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
}
.upper-sec {
  background-image: url("assets/jpg_files/bg-image.jpg");
  background-repeat: no-repeat;
  height: 100vmin;
  background-size: cover;
  background-position: center center;
  width: 100vw;
}
.box {
  height: 100vmin;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  background-position: center center;
  position: absolute;
}
.top-bar {
  height: 30vmin;
  width: 100vw;
  position: relative;
  /* background-color: yellow; */
}
.head-div {
  display: flex;
  height: 40%;
  max-width: 80%;
  margin: auto;
}
@media screen and (max-width: 350px) {
  .head-div {
    flex-wrap: wrap;
  }
  .right-nav {
    justify-content: center;
  }
  .left-nav {
    justify-content: center;
  }
  .logo {
    /* width: 28vmax; */
    text-align: center;
  }
}
.left-nav {
  height: 100%;
  min-width: 50%;
  justify-content: left;
  align-content: end;
}
.netflix-logo {
  width: auto;
}
.logo {
  width: 28vmax;
  /* text-align: center; */
}
.right-nav {
  display: flex;
  justify-content: right;
  height: 100%;
  min-width: 50%;
  gap: 0.5vw;
  align-items: end;
}

.full-button {
  display: flex;
  height: 30%;
  width: 20%;
  border: 0.3px solid grey;
  border-radius: 1px;
  font-size: 1.5vw;
  align-content: center;
}
.lang-icon {
  width: 20%;
  height: 100%;
  align-content: center;
  text-align: center;
  padding-left: 3%;
}
select {
  height: 100%;
  width: 60%;
  border: none;
  background-color: transparent;
  border-radius: 1px;
  appearance: none;
  text-align: center;
  font-size: 1vw;
}
.drop-menu {
  width: 10%;
  height: 100%;
  align-content: center;
  font-size: 1vw;
}
.sign {
  height: 30%;
  text-decoration: none;
  width: 15%;
  border-radius: 1px;
  font-size: 1vw;
  text-align: center;
  align-content: center;
}
.sign a {
  height: 50%;
  background-color: red;
  text-decoration: none;
  border-radius: 1px;
  font-weight: bolder;
}
.middle {
  position: relative;
  margin: auto;
}
.middle-part {
  justify-items: center;
  width: 90vw;
  margin: auto;
}

h1 {
  /* display: flex; */
  font-size: 6vw;
  justify-content: center;
  text-align: center;
  width: 60%;
}
.p-1 {
  margin-top: 2%;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}
.p-2 {
  margin-top: 2%;
  font-size: 2vw;
  text-align: center;
}
.credentials {
  justify-content: center;
  margin: auto;
  margin-top: 1vmin;
  width: 100%;
  display: flex;
  height: 6vh;
  gap: 0.5%;
  align-items: center;
}

input {
  background-color: transparent;
  width: 30%;
  border: 0.3px solid grey;
  opacity: 0.8;
  padding-left: 1%;
}
.login {
  height: 5vmin;
  border-radius: 3%;
  font-size: 1.5vw;
}
button {
  background-color: red;
  justify-content: center;
  font-weight: bold;
  border: none;
  width: 14%;
}
@media screen and (max-width: 350px) {
  h1 {
    font-size: 8vw;
  }
  .p-1 {
    font-size: 3vw;
  }
  .p-2 {
    font-size: 3vw;
  }

  .credentials {
    flex-direction: column;
    gap: 0.5vh;
  }

  input {
    width: 80%;
  }
  .login {
    height: 6vmin;
    border-radius: 1vw;
    font-size: 2vw;
  }
  button {
    width: 20%;
  }
}
.break {
  height: 0.5vmin;
  width: 100%;
  background-color: red;
}
.content {
  margin: auto;
  margin-top: 4.5vmin;
  width: 80vw;
  /* height: 100dvh; */
  font-size: 2vw;
}
.slide {
  display: flex;
  height: 20vw;
  width: 100%;
  gap: 3%;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
  margin-top: 3vmin;
  margin-bottom: 5%;
  position: relative;
}
.movies {
  height: 95%;
  width: 13%;
  padding: 0% 0% 0% 4%;
  position: relative;
}
.img-1 {
  height: 100%;
  width: 100%;
  border-radius: 0.7vw;
  position: absolute;
}

.rank-1 {
  position: absolute;
  margin-right: 12px;
  z-index: 10;
  font-size: 9vw;
  color: black;
  font-weight: 901;
  -webkit-text-stroke: 0.25vw rgb(207, 205, 205);
  margin-left: -14%;
  margin-top: 65%;
}

.reasons {
  margin-top: 3vw;
  display: flex;
  width: 100%;
  height: 40%;
  gap: 1.5%;
  margin-bottom: 5%;
}
.reason-1 {
  width: 25%;
  border-radius: 1vw;
  background-color: rgb(40, 40, 107);
}
.r-upper {
  height: 60%;
}
.glow {
  margin-left: 60%;
  margin-top: 8%;
  width: 45%;
}
.glow-img {
  width: 60%;
}
.h-r {
  padding: 10%;
}
.p-r {
  font-size: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  color: rgb(153, 146, 146);
  font-weight: 300;
}
/*@media screen and (max-width: 350px) {
  .reasons {
    flex-direction: column;
    gap: 0.5vh;
    height: 40vh;
  
  }
  .reason-1 {
    width: 100%;
    height: 15vh;
    border-radius: 1vw;
    background-color: rgb(40, 40, 107);
    position: relative;
  }
  .r-upper {
    height: 60%;
  }
  .glow {
    margin-left: 60%;
    margin-top: 8%;
    width: 45%;
    position: absolute;
  }
  .glow-img {
    width: 60%;
  }
  .h-r {
    padding: 10%;
  }
  .p-r {
    font-size: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: rgb(153, 146, 146);
    font-weight: 300;
  }
}*/
.faq {
  width: 100%;
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  height: 30vw;
}
.faq-1 {
  display: flex;
  height: 4vh;
  font-size: 1.5vw;
  padding-left: 2vw;
  background-color: rgb(45, 45, 45);
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw;
}
.plus {
  width: 3%;
  font-size: 1vw;
  filter: invert(1);
}

.p-3 {
  margin-top: 15vmin;
  font-size: 1vw;
  text-align: center;
}

#lower-input {
  width: 40%;
}
#lower-button {
  width: 15%;
}

footer {
  width: 100vw;
}

.details {
  margin: auto;
  height: 60px;
  width: 80%;
  margin-top: 4vw;
}
.contact {
  font-size: 1vw;
  color: #b3b3b3;
}

.links {
  margin-top: 6vmin;

  color: #b3b3b3;
  text-decoration: underline;
  list-style-type: none;
}
ul {
  display: grid;
  grid-template-columns: 15dvw 15dvw 15dvw 15dvw;
  row-gap: 25%;
}
ul li {
  font-size: 0.9vw;
  color: #b3b3b3;
}

.full-button-2 {
  display: flex;
  width: 10%;
  height: 10%;
  font-size: 0.5vw;
  border: 0.3px solid grey;
  border-radius: 1px;
  margin-top: 14vmin;
}
.select-2 {
  height: 100%;
  width: 60%;
  border: none;
  background-color: transparent;
  border-radius: 1px;
  appearance: none;
  text-align: center;
  font-size: 1vw;
}
.end-div {
  color: #b3b3b3;
  font-size: 0.9vw;
  margin-top: 2%;
  font-weight: bold;
  padding-bottom: 5vh;
}
